@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

:root{
    --White: hsl(0, 100%, 100%);
    --Purple: hsl(275, 100%, 97%);
    --lilas: hsl(292, 16%, 49%);
    --roxo: hsl(292, 42%, 14%);
}

.conteiner-Principal{
    background-color: var(--Purple);
    width: 300px;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cabecalho{
    display: flex;
    align-items: center;
}
.estrela{
    margin-left: 20px;
    width: 25px;
    height: 25px;
}
h1{
    font-weight: 700;
    padding: 25px;
}

.duvida1{
    display: flex;
}
span{
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
}