@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 100%, 100%);
    --Purple: hsl(275, 100%, 97%);
    --Purple: hsl(292, 16%, 49%);
    --Purple: hsl(292, 42%, 14%);
}